/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Typefaces*/

@font-face {font-family: "Roboto-regular";src: url('webfonts/Roboto-Regular-webfont.eot');src: url('webfonts/Roboto-Regular-webfont.eot#iefix') format('embedded-opentype'),url('webfonts/Roboto-Regular-webfont.woff') format('woff'),url('webfonts/Roboto-Regular-webfont.ttf') format('truetype');}
@font-face {font-family: "Roboto-light";src: url('webfonts/Roboto-Light.eot');src: url('webfonts/Roboto-Light.eot#iefix') format('embedded-opentype'),url('webfonts/Roboto-Light.woff') format('woff'),url('webfonts/Roboto-Light.ttf') format('truetype');}
@font-face {font-family: "Roboto-bold";src: url('webfonts/Roboto-Bold-webfont.eot');src: url('webfonts/Roboto-Bold-webfont.eot#iefix') format('embedded-opentype'),url('webfonts/Roboto-Bold-webfont.woff') format('woff'),url('webfonts/Roboto-Bold-webfont.ttf') format('truetype');}


.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

  /* For devices larger than 400px */
  @media (max-width: 480px) {
    .container {
      width: 83%;
      padding: 0; }
  }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 95%;
    padding-left: 3rem;
    padding-right: 3rem;}
  .column,
  .columns {
    margin-left: 3%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: .5%; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


.hero-background {
  position: relative;
  min-height: 84vh;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 6%, #D6F0D4 100%);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  display: block;
}

.base {
  width: 100%;
  min-height: 20vh;
  position: relative;
  background: linear-gradient(to bottom, #ffffff 100%, #D6F0D4 40%);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.header {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  display: block;
}


.name a:hover {
  color: red;
}

.menu-element {
    font-family: "Roboto-regular", sans-serif;
    font-size: 24px;
    word-spacing: 1px;
    letter-spacing: .3px;
    float: right;
    padding-top: 2.6rem;
    padding-right: 4rem;
}

.menu-element li {
  display: inline-block;
}
.menu-element a:hover {
  color: red;
}



.project-menu h2 {
  text-align: center;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

hr { width:100%; height:1px; background: #fff }

.article {
  padding-left: .6rem;
}

.article img {
  max-width: 700px;
}

.project-menu {
  padding: 3rem;
  text-align: center;
}

.project-menu img {
  max-width: 600px;
  max-height: 391px;
}

.project-menu h3 {
  font-size: 18px;
  padding-top: 3rem;
}

/*.work-menu {
  padding-top: 3rem;
  padding-left: 7rem;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .05rem;
  word-spacing: .05rem;
  letter-spacing: .05rem; */


.work-menu-alt h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  padding-top: 2.5rem;
  word-spacing: -1.5px;
  line-height: normal;
  font-family: "Roboto-light";
}

.work-menu-alt a:hover h3 {
    text-decoration: underline;
    color: grey;
}


.work-menu-alt h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .3rem;
  padding-top: 2rem;
}

.work-menu-alt img {

  display: inline-block;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;

}

.work-menu-alt img, img.scale-with-grid { outline: 0; max-width: 95%; height: auto; }

.project-page {
  padding-top: 2rem;
}

.project-page h1 {
  margin-bottom: 5px;
  letter-spacing: .8px;
  font-family: "Roboto-regular";
  font-weight: 600;
}


.project-page img {
  padding-bottom: 2rem;
  float: right;

}

.project-page img, img.scale-with-grid { outline: 0; max-width: 95%; height: auto; }




.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.navigation {
 width: inherit;
 overflow: auto;
}

.navigation h3 {
font-size: 18px;
letter-spacing: 1px;
}
.left-nav {
  float: left;
  padding: 10px;
}
.right-nav {
 float: right;
 padding: 10px;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
  font-family: "Roboto-light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.6rem; line-height: 0.5;  letter-spacing: .1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

.name {
  font-size: 28px;
}

.name {
  color: black;
  word-spacing: 1px;
  letter-spacing: .2px;
  margin-left: 6%;
  padding-top: 2rem;
  float: left;
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.1rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }

  .name {
    color: black;
    word-spacing: 1px;
    letter-spacing: .2px;
    margin-left: 5rem;
    padding-top: 2rem;
    float: left;
    font-size: 34px;
  }
}

p {
  margin-top: 0;
  font-family: "Roboto-light", "HelveticaNeue", Helvetica, sans-serif;}


/* media queries*/




/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #000000; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
